<template>
  <div id="artboard">
      <svg id="mainCanvas" :width="this.$store.state.canvasWidth" :height="this.$store.state.canvasHeight"></svg>
  </div>
</template>

<script>
import * as d3 from "d3";
import vor from '../state/vor.store';
import { forceCenter } from 'd3-force';

export default {
  name: 'artboard',
  store: vor,
  data () {
    return {
      width: this.$store.state.canvasWidth,
      height: this.$store.state.canvasHeight,
      sites: [],
      canvas: null,
      polygon: null,
      link: null,
      site: null,
    }
  },
  mounted(){
    this.initCanvas();

    this.$watch('canvasSize', (size) => {
      this.initCanvas();
    });
  },
  computed: {
    canvasSize() {
      return { width: this.$store.state.canvasWidth, height: this.$store.state.canvasHeight };
    },
    diagramSites() {
      return {
        sites: this.$store.state.sites,
        drawSites: this.$store.state.drawSites,
        drawLink: this.$store.state.drawLinks
      };
    }
  },
  watch: {
    diagramSites: function(newSites, oldSites) {
      this.initCanvas();
    }
  },
  methods:{
    initCanvas(){
      const canvas = this.$data.canvas = d3.select("svg#mainCanvas");
      canvas.selectAll("*").remove();

      const width = this.$store.state.canvasWidth,
        height = this.$store.state.canvasHeight,
        halfWidth = width * 0.5,
        halfHeight = height * 0.5;


      const n = this.$store.state.sites.length;

      if (n === 0){
        console.warn('Artboard >> Sites is not yet generated. Aborting Diagram Initialization...');
        return;
      }

      const storeSites = this.$store.state.sites;
      this.$data.sites = [];

      for (let i = 0; i < n; i++){
        for (let j = 0; j < n; j++) {
          const s = storeSites[i][j];
          this.$data.sites.push([halfWidth + s.x, halfHeight + s.y]);
        }
      }

      const voronoi = this.$data.voronoi = d3.voronoi().extent([[-1, -1], [width + 1, height + 1]]);
      const sites = this.$data.sites;

      this.$data.polygon = canvas.append("g")
        .attr("class", "polygons")
        .selectAll("path")
        .data(voronoi.polygons(sites))
        .enter().append("path");
      this.$data.polygon.call(this.drawCell);

      if(this.$store.state.drawLinks) {
        this.$data.link = canvas.append("g")
          .attr("class", "links")
          .selectAll("line")
          .data(voronoi.links(sites))
          .enter().append("line");
        this.$data.link.call(this.drawLink);
      }

      if(this.$store.state.drawSites){
        this.$data.site = canvas.append("g")
          .attr("class", "sites")
          .selectAll("circle")
          .data(sites)
          .enter().append("circle")
          .attr("r", 2.5);
        this.$data.site.call(this.drawSite);
      }

      this.redraw();

    },

    redraw() {
      const voronoi = this.$data.voronoi;
      const width = this.$store.state.canvasWidth;
      const height = this.$store.state.canvasHeight;
      const sites = this.$data.sites;

      var diagram = voronoi(sites);
      this.$data.polygon = this.$data.polygon.data(diagram.polygons()).call(this.drawCell);

      if(this.$store.state.drawLinks) {
        this.$data.link = this.$data.link.data(diagram.links()), this.$data.link.exit().remove();
        this.$data.link = this.$data.link.enter().append("line").merge(this.$data.link).call(this.drawLink);
      }

      if(this.$store.state.drawSites){
        this.$data.site = this.$data.site.data(sites).call(this.drawSite);
      }
    },

    drawSite(site) {
      this.$data.site
        .attr("cx", function(d) { return d[0]; })
        .attr("cy", function(d) { return d[1]; });
    },

    drawCell(cell) {
      this.$data.polygon
        .attr("d", function(d) { return d ? "M" + d.join("L") + "Z" : null; });
    },

    drawLink(link) {
      this.$data.link
        .attr("x1", function(d) { return d.source[0]; })
        .attr("y1", function(d) { return d.source[1]; })
        .attr("x2", function(d) { return d.target[0]; })
        .attr("y2", function(d) { return d.target[1]; });
    }
  }
}

</script>

<style>
div#artboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#artboard svg#mainCanvas {
    margin: auto;
    background-color: #eee;
}
.links {
  stroke: #000;
  stroke-opacity: 0.2;
}

.polygons {
  fill: none;
  stroke: #000;
}

.sites {
  fill: rgba(8,8,8,0.2);
  stroke: #111;
}

</style>
