<template>
  <div id="app">
    <section class="left-sidebar">
      <img src="./assets/logo.png">
      <Tools />
    </section>
    <section class="main-container">
      <Artboard/>
    </section>
  </div>
</template>

<script>
import Tools from './components/Tools'
import Artboard from './components/Artboard'

export default {
  name: 'app',
  components: {
    Tools,
    Artboard
  },
  data () {
    return {
    }
  }
}
</script>

<style>
#app {
  display: flex;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

#app .left-sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: lightsteelblue;
}

#app .left-sidebar > img {
  width: 64px;
  margin-left: auto;
  margin-right: auto;
}

#app .main-container {
  width:80%;
}

html,
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
